@import "tailwindcss";

@theme {
  --color-primary: #b11226;
  --color-secondary: #1c1e29;
  --font-inter: var(--font-inter);
}
@layer base {
  body {
    @apply font-inter text-sm leading-none;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-[1180px] px-4;
  }
}
